.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .chat-header {
    background-color: #199a0d;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-body {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .bot-message {
    background-color: #199a0d;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .faq {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .faq-question {
    background-color: #199a0d;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .faq-question:hover {
    background-color: #199a0d;
  }
  
  .open-chat-btn, .exit-btn {
    background-color: #199a0d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .open-chat-btn:hover, .exit-btn:hover {
    background-color: #218838;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }